<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>myboard</title>
  <link rel="stylesheet" href="asset/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="asset/js/jquery-1.12.4.min.js"></script>   <!--폴더경로가 아니라 인터넷 가상 경로로 따져서 하는것이기 때문에 / 가 필요없다.-->
  <script src="asset/js/popper.min.js"></script>
  <script src="asset/js/bootstrap.min.js"></script>
</head>
<body>
  <a href="/board/">게시판 보기</a>
</body>
</html>